@model EmployeeManagement.DTOs.EmployeeGetDTO

@{
    ViewData["Title"] = "Details";
    var currentPage = ViewBag.CurrentPage;
}

<div class="container mt-5">

    <div class="card shadow-sm">
        <div class="row g-0">
            <!-- Employee Image Column -->
            <div class="col-md-4 text-center p-3 bg-light shadow-sm">
                <img src="~/images/@Model.Picture" alt="@Model.FirstName @Model.LastName"
                     class="img-fluid rounded"
                     style="height: 100%; object-fit: cover;">
            </div>
            <!-- Employee Details Column -->
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title display-5">@Model.FirstName @Model.LastName</h2>
                    <hr />
                    <p class="card-text fs-5"><strong>Department:</strong> @Model.Department</p>
                    <p class="card-text fs-5"><strong>Job Title:</strong> @Model.JobTitle</p>
                    <p class="card-text fs-5"><strong>Email:</strong> @Model.Email</p>
                    <p class="card-text fs-5">
                        <strong>Annual Leave Days Remaining:</strong> @Model.AnnualLeaveDaysRemaining
                    </p>
                    <p class="card-text fs-5">
                        <strong>Bonus Leave Days Remaining:</strong> @Model.BonusLeaveDaysRemaining
                    </p>
                    <p class="card-text fs-5">
                        <strong>Created At:</strong> @Model.CreatedAt.ToString("MMM dd, yyyy")
                    </p>
                    <p class="card-text fs-5"><strong>Annual Leave Days Expire:</strong> @(Model.SecondPartLeaveExpiry?.ToString("MMM dd, yyyy") ?? "Expired")</p>
                    <p class="card-text fs-5"><strong>Bonus Leave Days Expire:</strong> @(Model.FirstPartLeaveExpiry?.ToString("MMM dd, yyyy") ?? "Expired")</p>                   
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a asp-action="AllEmployees" asp-route-page="@currentPage" class="btn btn-success">
                Go Back To Employees
            </a>
        </div>
    </div>
</div>
