@using static EmployeeManagement.Enums.EnumTypes
@model IEnumerable<EmployeeManagement.DTOs.LeaveRequestGetDTO>
@{
    ViewData["Title"] = "List of Leave Requests";
    int currentPage = ViewBag.CurrentPage;
    int pageSize = ViewBag.PageSize;
    int totalRequests = ViewBag.TotalRequests;
    int totalPages = (int)Math.Ceiling((double)totalRequests / pageSize);
}

<br />
<br />

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="text-center align-middle">Name of the Employee</th>
            <th class="text-center align-middle">Email</th>
            <th class="text-center align-middle">Annual Leave Days Remaining</th>
            <th class="text-center align-middle">Bonus Leave Days Remaining</th>
            <th class="text-center align-middle">StartDate</th>
            <th class="text-center align-middle">EndDate</th>
            <th class="text-center align-middle">Total days</th>
            <th class="text-center align-middle">Comment</th>
            <th class="text-center align-middle">Leave Type</th>
            <th class="text-center align-middle">Leave Status</th>
            <th class="text-center align-middle">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr class="@(request.LeaveStatus == LeaveStatus.Approved ? "bg-lightblue" :
            request.LeaveStatus == LeaveStatus.Rejected ? "bg-lightcoral" : "")">
                <td class="text-center align-middle">
                    @(request.Employee != null && !string.IsNullOrEmpty(request.Employee.FirstName) && !string.IsNullOrEmpty(request.Employee.LastName)
                        ? $"{request.Employee.FirstName} {request.Employee.LastName}"
                        : "Not our employee")
                </td>
                <td class="text-center align-middle">@(request.Employee?.Email ?? "/")</td>
                <td class="text-center align-middle">@(request.Employee?.AnnualLeaveDaysRemaining.ToString() ?? "/")</td>
                <td class="text-center align-middle">@(request.Employee?.BonusLeaveDaysRemaining.ToString() ?? "/")</td>

                <td class="text-center align-middle">@request.StartDate.ToShortDateString()</td>
                <td class="text-center align-middle">@request.EndDate.ToShortDateString()</td>
                <td class="text-center align-middle">@((request.EndDate - request.StartDate).Days + 1)</td>
                <td class="text-center align-middle">@request.Comment</td>
                <td class="text-center align-middle">@request.LeaveType</td>

                <td class="text-center align-middle">
                    <span class="@(request.LeaveStatus == LeaveStatus.Pending ? "badge bg-secondary fw-bold p-1" : "")">
                        @request.LeaveStatus
                    </span>
                </td>

                <td class="text-center align-middle">
                    @if (User.IsInRole("Hr") && request.LeaveStatus == LeaveStatus.Pending)
                    {
                        <div class="d-flex justify-content-center gap-2">
                            <a asp-action="Approve" asp-route-id="@request.LeaveRequestId" asp-route-page="@ViewBag.CurrentPage" class="btn btn-primary btn-sm">Approve</a>
                            <a asp-action="Decline" asp-route-id="@request.LeaveRequestId" asp-route-page="@ViewBag.CurrentPage" class="btn btn-danger btn-sm">Decline</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="AllRequests" asp-route-page="@(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" asp-action="AllRequests" asp-route-page="@i">@i</a>
            </li>
        }
        @if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="AllRequests" asp-route-page="@(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>

